<!-- HEADER -->
<%- include('./partials/header.ejs') %>

<!-- BLOCK CONTENT -->
<h1><%= post.title %></h1>
<p><%= post.content %></p>

<a href="/">Home</a>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') %>
